{% extends 'my_blog/base.html' %}

{% block title %}Pro Gamer Games{% endblock %}

{% block content %}

<h3>Our Blog</h3>
<div class="row">

    {% for blog in blogs %}
        <div class="card" style="width: 18rem 0; ">
            <div class="card-body">
                <h5 class="card-title">{{ blog.title }}</h5>
                <p class="card-text">{{ blog.content }}</p>
                {%if blog.is_published == True%}
                <p class="card-text">published</p>
                {%elif blog.is_published == False%}
                <p class="card-text">Not published</p>
                {%endif%}

                <p class="card-text">{{blog.publish_date}}</p>
            </div>
        </div>
    {% endfor %}

</div>


{% endblock %}