{%extends 'blog_app/base.html'%}
{%load static%}

{% block title %} Adventurous lifestyle {% endblock%}

{% block content%}

<h3 style="margin-bottom: 250px;">View Our Blogs</h3>
<div class="blog_container container my-5">
    <div class="row"style="margin-bottom: 250px;">
        {% for blog in blogs %}
        <div class="one col-lg-4 col-md-6 col-12 g-3" style="height: 300px; ">
            <img class="img-fluid col-lg-4 col-md-6 col-12 g-3" src="{% static 'images/blog.png' %}" style="width: 100%;height: 100%;background-size: cover; box-sizing: border-box; object-fit: cover;">
            <div class="text w-25 h-25 text-light p-4" style="background: rgba(0, 0, 0, 0.5);width: 100%;height: 100%;position: absolute;bottom: 0;">
                <p style="letter-spacing: 0.2rem; line-height: 2px;">Blog</p>
                <h4>{{ blog.title }}</h4>
                <h5>{{blog.publish_date}}</h5>
                <a href="{% url 'blog_app:read_blog' blog.id %}" style="text-decoration: none;border-style: none; font-size: 0.9rem; color: #fff;">Read more</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}