{% extends 'main_app/base.html' %}
<!--  -->
{% block content %}
<h1>Welcome to Blog</h1>
<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Tittle</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      name="title"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Content</label>
    <textarea
      class="form-control"
      id="exampleInputPassword1"
      name="content"
    ></textarea>
  </div>
  <div class="mb-4">
    <select
      class="form-select"
      aria-label="Default select example"
      name="published"
    >
      <option selected>Visibility</option>
      <option value="True">Public</option>
      <option value="False">Private</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Release Date</label
    >
    <input type="date" name="release_date" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
