
{% extends 'blog_app/base.html' %}
{% block title %}{% endblock %}
{% block content %}
<h1>Welcome to My Blog</h1>
<h3>content</h3>
<div class="row">
    {% for item in reader %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col">rating: {{item.publish_date}}</div>
                        <div class="col">{{item.is_published}}</div>
                    </div>
                </div>    
                <a href="#" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}